{% extends "base.html" %}

{% block content %}
<main>
    <section class="search-container">
        <form method="POST" action="/search">
            <div class="search-box">
                <input name="user_question" type="text" class="search-input" id="searchInput"
                       placeholder="Enter text to search...">
                <input type="number" min="1" max="10" value="5" step="1" style="max-width: 12%" name="amount"
                       class="search-input">
                <button type="submit" class="btn" id="searchBtn">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>
        </form>
    </section>

    <section class="results-container">
        {% if chunks and chunks != '1'%}
        {% for chunk in chunks %}
        <div class="results-header">
            <div class="result-count">
                <ul style="padding-left: 5%; padding-right: 5%; padding-top: 0%; padding-bottom: 0%;">
                    <li>{{ chunk.book }}</li>
                    <li>Автор: {{ chunk.author }}</li>
                    <li>{{ chunk.text }}</li>
                </ul>
                {{item | safe}}
            </div>
        </div>
        {% endfor %}
        <div class="results-header time-display">
            <div class="result-count">Затрачено времени: {{time}}</div>
        </div>
        {% elif chunks == '1' %}
        <div class="results-header">
            <div class="result-count">
                <ul style="padding-left: 5%; padding-right: 5%; padding-top: 0%; padding-bottom: 0%;">
                    <li>Здесь вы увидите результаты поиска</li>
                </ul>
            </div>
        </div>
        {% else %}
        <div class="results-header no-results">
            <div class="result-count">К сожалению, ничего не найдено</div>
        </div>
        {% endif %}
    </section>

</main>

{% endblock %}